.soup, .pasta, .chili{
font-size: 24px;
color: black;
}

#or{
text-align: center;
font-size: 48px;
font: bold;
background-color: aqua;
}




.Container{
 position: relative;
 text-align: center;
 color: white;   
}

.soup{
position: absolute;
top: 50%; left: 48%;   
}
.chili{
position: absolute;
top: 30%; left: 48%;   
}
.pasta{
position: absolute;
top: 10%; left: 48%;    
}
