.soup, .pasta, .chili{
text-align: center;
font-size: 24px;
color: black;
}

#or{
text-align: center;
font-size: 48px;
font: bold;
background-color: aqua;
}
#chilipic, #souppic, #pastapic{
text-align: center;
}
